<section class="heat">
    <div class="container">
        <div class="heat__box">
            <h1 class="heat__box__logo">
                INSURE.
            </h1>
            <nav class="heat__box__nav">
                <a href="" class="heat__box__nav__link">
                    Personal Plans
                </a>
                <a href="" class="heat__box__nav__link heat__box__nav__link--margin">
                    Business Plans
                </a>
                <a href="" class="heat__box__nav__link heat__box__nav__link--margin">
                    Guide
                </a>
                <a href="" class="heat__box__nav__link">
                    Blog
                </a>
            </nav>
            <div></div>
        </div>
    </div>
</section>